@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&family=Roboto:wght@700&family=Rubik+Distressed&display=swap');
*{
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5d5c64;
    height: 600px;
    
}
.name{
    font-family: 'Roboto', sans-serif;
    color: #ff8800;  
    font-size: 60px;
}

.about-me{
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    color: rgba(226, 220, 220, 0.938);
}
.about-me h1{
    margin: 20px;
}
.socials a,.socials a:hover{
    text-decoration:none;
    color: #ff8800;
}
.socials button,i{
    margin: 10px;
}
.socials button{
    background-color: #ff8800;
    color: #36363a;
}
.socials button,.socials button:hover{
    color: #36363a;
    background-color: #ff8800;
    border: none;
}
.socials button:focus,.socials button:active {
    background-color: #ff8800;
    color: #36363a;
    outline: none !important;
    box-shadow: none !important;
  }
  .socials button:hover,i:hover{
    transition: all .3s ease;
    scale: 1.1;
  }



/* General styling  */
.page-sections{
    display: flex;
    flex-direction: column;
}