@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&family=Roboto:wght@700&family=Rubik+Distressed&display=swap');
*{
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #515057;
    height: 600px;
    
}
.name{
    font-family: 'Roboto', sans-serif;
    color: #dd7a08;  
    font-size: 60px;
    font-weight: 900;
}

.about-me{
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    color: rgba(226, 220, 220, 0.938);
}
.about-me h1{
    margin: 20px;
}
.socials i,.socials i:hover{
    
    padding: 20px;
    background-image: linear-gradient(to top, #fac639, #ff5e00);
    text-decoration:none;
   background-size: 100%;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}
.socials a{
    text-decoration:none;
}
.socials button,i{
    margin: 10px;
}
/*.socials button{
    background-color: linear-gradient(45deg, #f7ec23, #61192d);
    color: #36363a;
}
*/
.socials button,.socials button:hover{
    color: #36363a;
    background-image: linear-gradient(to top, #fac639, #ff5e00);
    border: none;
}
.socials button:focus,.socials button:active {
    background-color: #ff8800;
    color: #36363a;
    outline: none !important;
    box-shadow: none !important;
  }
  .socials button:hover,i:hover{
    transition: all .3s ease;
    scale: 1.1;
  }



/* General styling  */
.page-sections{
    display: flex;
    flex-direction: column;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .about-me h1,h3{
        font-size: 20px;
    }
    section{
        display: flex;
        flex-direction: column;
        
    }
    img{
        height: 200px;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    img{
        height: 250px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    img{
        height: 400px;
     }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    img{
        height: 500px;
     }
     .about-me h3{
        font-size:40px;
     }
     .socials{
        padding: 30px;
        font-size: 22px;
     }
}