@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&family=Roboto:wght@700&family=Rubik+Distressed&display=swap');
*{
    box-sizing: border-box;
    
}

section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5d5c64;
    height: 600px;
    
}
.name{
    font-family: 'Roboto', sans-serif;
    color: #ff8800ad;  
    font-size: 60px;
}

.about-me{
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    color: rgba(226, 220, 220, 0.938);
}
.about-me h1{
    margin: 20px;
}

/* General styling  */
.page-sections{
    display: flex;
    flex-direction: column;
}