.title-container{
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    background-color: #39383d;
}
.project-title{
    font-size: 3rem;
    color: rgba(226, 220, 220, 0.938);
    margin-right: 300px;
}
.project-section span{
    position: relative;
    margin-right: 200px;
    display: block;
    width: 80px;
    height: 7px;
    background:linear-gradient(45deg, #fac639, #ff5e00);
    border-radius: 5px;
    margin:40px 0px 0px 0px;
}
.project-display{
    display: flex;
    background-color: #39383d;
    height: 900px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.span{
    margin-right: 300px;
}
.project-card{
     box-shadow: 4px 5px 23px -1px rgba(0, 0, 0, 0.4);
    width: 40vw;
    flex-direction: column;
    margin: 100px 0px 0px 0px;
    display: flex;
    padding: 20px;
    background-color: #4f4e55;
    height: 300px;
    border-radius: 0px 20px 20px 0px;
}
.card-case{
  
    display: flex;
}
.card-image{
display: flex;
    margin-top: 100px;
    width: 400px;
    height: 300px;
}
.buttons {
cursor: pointer;
display: flex;
border-radius: 5px;
margin: 20px;
}
.front-btn{
    margin: 5px;
    background-color: #ff5e00;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    border: none;

}
.back-btn{
    margin: 5px;
    background-color: #ffffff;
    color:#ff5e00;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .project-display{
        height: 1200px;
    }
  .title-container span{
    margin-right: -40px;
  }
  .title-container h1{
    margin-right: 150px;
  }
  .title-container{
    margin-bottom: -100px;
  }
  .card-case{
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 10px;
  }
  .card-image{
    width: 350px;
    margin-bottom: -100px;
    border-radius: 20px 20px 20px 20px;

  }
  .project-card{
    width: 350px;
    padding-bottom: 50px;
    border-radius: 20px 20px 20px 20px;
    
  }

 

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}